.beneficiaryDiv {
    margin: 25px 10px;
}

.beneficiaryContent {
    padding: 10px 25px;
}

.beneficiaryTitle {
    float: right;
}

.finishButton {
    float: right;
}

.buttonsDiv {
    margin: 10px;
}