.beneficiaryDiv {
    margin: 25px 10px;
}

.beneficiaryContent {
    padding: 10px 25px;
    display: flex;
    flex-wrap: nowrap;
}

.beneficiaryBio {
    margin-left: 10px;
}

.finishButton {
    float: right;
}

.buttonsDiv {
    margin: 10px;
}